@import "tailwindcss";

@theme {
  /* Fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-sans: "Monospace";

  /* Custom Colors */
  --color-pink-hippo: #fae0eb;
  --color-magenta-hippo: #ac316a;
  --color-magenta-dark-hippo: #4a152e;
  --color-transparent-white: rgba(239, 239, 239, 0.7);
  --color-transparent-white-md: rgba(239, 239, 239, 0.9);
  --color-light-color: #D9D9D9;
  --color-dark-color: #b9b9b9;
  --color-shadow-color: #a8a8a8;
  --color-search-bar-color: #C9C9C9;
  --color-filter-section-color: #999898;
  --color-tag-dark-color: #767676;
  --color-bookmark-color: #21272A;
  --color-grey-blue-color: #6D758F;
  --color-nav-border-color: #DDE1E6;
  --color-learn-more-color: #c9c8c8;

  /* Animations */
  @keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
  }

  --animate-slidingIn: slideIn 0.5s linear;
}

/* Custom background image utility */
@utility bg-hippo-bg {
  background-image: url(/src/assets/images/Hippo_Planet.png);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}